#parserRef {
	text-align: center;
	font-weight: bold;
	display: block;
	font-size: 20px;
}

#parserName {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

a:link, a:visited, a:active, a:hover {
	color: #777;
} /* unvisited link */

.category {
	margin-top:50px;
}

.subcategory {
	padding-left: 50px;
}

.product {
	margin-left:100px;
}

.productField {
	display:inline-block;
	width: 16%;
	color: blue;
}